:root{
    --calcBG:rgba(45, 24, 80, 0.5);
}


*{
    padding: 0;
    margin: 0;
}

#calculator{
    border: var(--calcBG) 10px solid;
    width: fit-content;
    margin: auto;
    margin-top: 150px;
    box-sizing: border-box;
}
#result,#expression{
    width: 100%;
    height:50px;
    text-align: end;
    padding-right: 3px;
    box-sizing: border-box;
}
#result{
    opacity: 40%;
    padding-top: 10px;
    font-size: 1.2rem;
}

#expression{
    height:40px;
    box-sizing: border-box;
    border-left: none;
    border-right: none;    
    border-top:1px solid rgba(0,0,0,0.2);
    /* border-bottom:1px solid black; */
    outline:none;
}
table{
    background-color: var(--calcBG);
}
td button{
    cursor: pointer;
    font-size: 1.0rem;
    border:none;
    outline:none;
    height: 50px;
    width: 70px;
    margin: 1px;
    border-radius: 5%;
}
td button:active {
    transform: translateY(1px);
  }

.red{
    background-color: red;
    color: white;
}
.operators{
    background-color: rgba(100,100,100,0.5);
}